In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('transactions.csv')
df

,t_date,cust_id,t_amt,services,products_used,city,state,t_details
0,06-26-2015,4007024,40.33,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit
1,05-26-2015,4006742,198.44,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit
2,06-01-2015,4009775,5.58,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit
3,06-05-2015,4002199,198.19,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit
4,12-17-2015,4002613,98.81,Team Sports,Field Hockey,Nashville,Tennessee,credit
...,...,...,...,...,...,...,...,...
49995,09-18-2015,4005664,53.95,Games,Dice Games,Irving,Texas,credit
49996,10-02-2015,4007287,163.81,Games,Poker Chips & Sets,Kansas City,Missouri,credit
49997,05-03-2015,4003954,35.85,Racquet Sports,Squash,New Orleans,Louisiana,cash
49998,10-23-2015,4007843,180.41,Gymnastics,Vaulting Horses,Berkeley,California,credit
49999,12-14-2015,4001406,168.49,Team Sports,Team Handball,Rockford,Illinois,credit

In [23]:
total = df['t_amt'].sum()
total

np.float64(5110820.54)

In [24]:
#2
m = pd.to_datetime(df['t_date'],errors = "coerce",dayfirst=True)

C:\Users\sreeh\AppData\Local\Temp\ipykernel_43980\3123434121.py:2: UserWarning: Parsing dates in %m-%d-%Y format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  m = pd.to_datetime(df['t_date'],errors = "coerce",dayfirst=True)

In [25]:
a = m.dt.month_name()
a

0             June
1              May
2             June
3             June
4         December
           ...
49995    September
49996      October
49997          May
49998      October
49999     December
Name: t_date, Length: 50000, dtype: object

In [26]:
df['month'] = a
df['month']

0             June
1              May
2             June
3             June
4         December
           ...
49995    September
49996      October
49997          May
49998      October
49999     December
Name: month, Length: 50000, dtype: object

In [27]:
k = df.groupby('month')['t_amt'].sum().idxmax()
k

'March'

In [28]:
#3
av = df.groupby('cust_id')['t_amt'].mean()
av

cust_id
4000000    127.444000
4000001    108.945556
4000002     56.165000
4000003    123.670000
4000004    168.135000
              ...
4009995     65.018571
4009996    104.515000
4009997    121.547500
4009998    110.950000
4009999     85.252500
Name: t_amt, Length: 9926, dtype: float64

In [29]:
#4
s = df.loc(df.groupby('month')['t_amt'],)
s

ValueError: No axis named <pandas.core.groupby.generic.SeriesGroupBy object at 0x000002792764F350> for object type DataFrame

In [ ]:
#5
z = df['t_amt'].idxmax()
z

36291

In [ ]:
#6  Which service category contributes the most to total revenue?
g = df.groupby('services')['t_amt'].sum().idxmax()
g

'Outdoor Recreation'

In [ ]:
#7  Which product generated the highest revenue?

p = df.groupby('products_used')['t_amt'].sum().idxmax()
p

'Yoga & Pilates'

In [ ]:
#8  How does the average transaction amount vary between services?
avgg = df['t_amt'].mean()
avgg

np.float64(102.2164108)

In [ ]:
avtr = df['t_amt'] - avgg
avtr

0       -61.886411
1        96.223589
2       -96.636411
3        95.973589
4        -3.406411
           ...
49995   -48.266411
49996    61.593589
49997   -66.366411
49998    78.193589
49999    66.273589
Name: t_amt, Length: 50000, dtype: float64

In [ ]:
df['avgtr'] = avtr
x = df.groupby('services')['avgtr'].sum().sort_index
x

<bound method Series.sort_index of services
Air Sports                 1189.145632
Combat Sports             -1882.079604
Dancing                     286.115929
Exercise & Fitness        10675.728545
Games                       207.338007
Gymnastics                  541.691083
Indoor Games               2402.306171
Jumping                    -123.397762
Outdoor Play Equipment    -2721.475428
Outdoor Recreation       -10201.531736
Puzzles                    -991.693410
Racquet Sports             2305.422201
Team Sports                3140.751092
Water Sports              -1651.477965
Winter Sports             -3176.842755
Name: avgtr, dtype: float64>

In [ ]:
#9  How many unique customers made purchases?
unique = df['cust_id'].nunique()
unique

9926

In [ ]:
#10  Which customers have spent the most overall?

most = df.groupby('cust_id')['t_amt'].sum().idxmax()
most

np.int64(4009485)

In [30]:
#11  What is the average number of transactions per customer?
tc = df.groupby('cust_id').size()
avgt = tc.mean()

avgt

np.float64(5.037275841225066)

In [31]:
#12 Are there customers who made multiple purchases in different categories?
cc = df.groupby('cust_id')['services'].nunique()
mc = cc[cc > 1]

mc

cust_id
4000000    4
4000001    8
4000002    2
4000003    3
4000004    3
          ..
4009995    4
4009996    6
4009997    4
4009998    4
4009999    5
Name: services, Length: 9488, dtype: int64

In [32]:
#13 What percentage of customers are repeat buyers?
repeat = df.groupby('cust_id').size()
rb = repeat[repeat > 1].count()
total_customers = df['cust_id'].nunique()
percentage = (rb / total_customers * 100)
percentage

np.float64(96.5645778762845)

In [33]:
#14 Which product category has the highest total sales?
pc = df.groupby('products_used')['t_amt'].sum().idxmax()
pc

'Yoga & Pilates'

In [34]:
#15 Which services are most popular by transaction count?
p = df['services'].value_counts().idxmax()
p

'Outdoor Recreation'

In [ ]:
#16 For each service, which product type is purchased most frequently?

In [35]:
#17 What is the average transaction amount per product type?
at = df.groupby('products_used')['t_amt'].mean()
at

products_used
Abdominal Equipment    105.362798
Air Hockey             103.775478
Air Suits              101.421832
Archery                 97.345564
Badminton              108.441138
                          ...
Wetsuits               102.042775
Whitewater Rafting     102.877744
Windsurfing            104.161453
Wrestling               97.895364
Yoga & Pilates         107.668784
Name: t_amt, Length: 125, dtype: float64

In [36]:
#18 Are there specific services where customers spend significantly more?
ss = df.groupby('services')['t_amt'].sum()
ss

services
Air Sports                 99316.90
Combat Sports             164730.67
Dancing                    42603.71
Exercise & Fitness        766463.87
Games                     374932.70
Gymnastics                327225.34
Indoor Games              288506.04
Jumping                   205842.67
Outdoor Play Equipment    294728.28
Outdoor Recreation        846678.64
Puzzles                    61564.75
Racquet Sports            166976.06
Team Sports               617461.38
Water Sports              531815.97
Winter Sports             321973.56
Name: t_amt, dtype: float64

In [37]:
#19 Which state has the highest total sales?
ss = df.groupby('state')['t_amt'].sum()
ss.idxmax()

'California'

In [38]:
#20 Which city records the highest number of transactions?
ct = df['city'].value_counts()
ct.idxmax()

'Pasadena'